<table>
  <tr>
    <th>#</th>
    <th>Book Name</th>
    <th>Date Given</th>
    <th>Date Returned</th>
    <th>User Name</th>
    <th [checkPrivileges]="[Privileges.DeleteHistoryBooks]">Remove</th>
  </tr>
  <tr *ngFor="let bookHistory of store.getState().booksHistory; let i = index" (click)="updateItem($event)" attr.data-itemid="{{bookHistory.Id}}">
    <td>{{i + 1}}</td>
    <td>{{bookHistory.BookName}}</td>
    <td>{{bookHistory.DateGiven | dateFormat}}</td>
    <td>{{bookHistory.DateReturned | dateFormat}}</td>
    <td>{{bookHistory.LibraryUserName}}</td>
    <td [checkPrivileges]="[Privileges.DeleteHistoryBooks]"><input type="button" class="btn btn-danger" value="X" attr.data-itemid="{{bookHistory.Id}}" (click)="deleteItem($event)" /></td>
  </tr>
</table>
